version: '3'

services:
  app-php:
    container_name: clean-arch-app
    image: dersonsena/php-nginx-dev
    volumes:
      - ./:/var/www/html
    environment:
      - XDEBUG_START_WITH_REQUEST=yes
      - XDEBUG_DISCOVER_CLIENT_HOST=false
    ports:
        - '8888:80'
    networks:
      - network-clean-arch

networks:
  network-clean-arch:
    driver: bridge